[submodule "themes/one"]
	path = themes/one
	url = https://github.com/resugary/hugo-theme-one.git
[submodule "themes/hugo-sustain"]
  path = themes/hugo-sustain
  url = https://github.com/nurlansu/hugo-sustain.git
