{{ partial "head" . }}
  <body>
    <div id="wrap">
      <div id="particles-js">
      </div>
      {{ partial "header" . }}
      <section id="about" style="background: transparent; z-index: 2;">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3>Hey I'm <strong>{{ .Site.Params.author }}</strong>,</h3>
        <h3>Software Developer, Entrepreneur, and <a href="{{ .Site.BaseURL }}blog/one-bag-travel-my-life-in-54-items/">World Traveler.</a></h3>
        <h3>Currently building <a href="http://www.feastflow.com" target="_blank">Feastflow</a> to help freelance developers make more money.</a></h3>
        <h3>I love building products, launching businesses, and learning something new every day.</h3>
        <h3>Contact me via <a href="mailto:{{ .Site.Params.Social.Email }}">email</a> anytime for a friendly chat :)</h3>
        {{ partial "social.html" . }}
        </div>
      </div>
      </section>
    </div>
    {{ partial "footer" . }}
    <script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  </body>
</html>
